<div class="main">

  <!-- Actual search box -->
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" name="heritageId" [(ngModel)] = "heritageId" placeholder="Search by group id">
  </div>

  <!-- Another variation with a button -->
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" name="archId" [(ngModel)] = "archId" placeholder="Search by arch id">
  </div>
  <button type="button" class="mt-4 text-center btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="fetchData()">
    Search Heritage
  </button>
</div>
<div *ngFor="let heritage of heritagesList" style="text-align: center">
  <h3>{{ heritage.heritageId }} - {{ heritage.authority }}</h3>
</div>
